module.exports = {
	prefix:"s!",
	admin: ["531427939158327319"],
	token: "NTc4OTY3MjA1NTM0NzYwOTYw.XTWqmg.Rkb0gK8sjwKtCbc9vBPC49MuPao ",
	show_invite: false,
	
	//Token from discordbots.org
	DBLtoken: false,
	//Cat images API
	CatAPI: false,
	//Google Geocoding API
	googleGeoAPIkey: false,
	//Dark Sky API (weather)
	DarkSkyAPIKey: false,
	//Bitly shortener login & API
	bitlyApiLogin: false,
	bitlyApiKey: false,
	//Google shortener API key
	googleShortenerApiKey: false,
	//For searching youtube-node
	youtubeSearchApi: false,
	
	//Music
	default_volume: 0.5,
	voice_passes: 1,
	
	//Logging
	logChannel: false //This gets changed to a channel at ready
}
